.champion-select {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
}

.player-slots {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-slots {
    margin-left: 20rem;
    margin-right: 10rem;
}

.right-slots {
    margin-right: 20rem;
    margin-left: 10rem;
}

.team-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-section {
    margin-right: 15px;
}

.right-section {
    margin-left: 15px;
}

.ban-slots {
    display: flex;
    justify-content: center;
}

.toggle-button{
    height: 2rem;
    margin-top: 4rem;
}

.red-side .ban-slots {
    flex-direction: row-reverse;
}